<form name="Pay" method="post" action=" https://pay.piastrix.com/ru/pay"
      accept-charset="UTF-8>
<input type=" hidden" name="amount" value="10.00"/>
<input type="hidden" name="currency" value="643"/>
<input type="hidden" name="shop_id" value="5"/>
<input type="hidden" name="sign"
       value="e4580435a252d61ef91b71cb23ed7bee4d77de94ced36411526d2ce3b6
6ada8f"/>
<input type="hidden" name="shop_order_id" value="101"/>
<input type="submit" input type="hidden" name="description" value="Test
invoice"/>
</form>